
extends ../layout/default
block script  
    script(src='/public/script/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', type='text/javascript')
    link(rel='stylesheet', href='/public/css/auth-singup.css')
block content
    .container.pt-5
        .wrapper.fadeInDown
            #formContent
                form(action="/auth/signup", method="post", enctype="multipart/form-data")
                    h2.active Đăng kí
                    if errors
                        each error in errors
                            p=error
                    br
                    input#user(type="text",name="user", placeholder="tài khoản", value=values ? values.user : "", required, oninvalid="this.setCustomValidity('Vui lòng nhập tài khoản')", oninput="this.setCustomValidity('')")
                    input#password(type="password",name="password", placeholder="mật khẩu", value=values ? values.password : "", required, oninvalid="this.setCustomValidity('Vui lòng nhập mật khẩu')", oninput="this.setCustomValidity('')")
                    input#name(type="text",name="name", placeholder="họ tên", value=values ? values.name : "", required, oninvalid="this.setCustomValidity('Vui lòng nhập họ tên')", oninput="this.setCustomValidity('')")
                    input#address(type="text",name="address", placeholder="quê quán", value=values ? values.address : "", required, oninvalid="this.setCustomValidity('Vui lòng nhập quê quán')", oninput="this.setCustomValidity('')")
                    input#living(type="text",name="living", placeholder="sống tại", value=values ? values.living : "", required, oninvalid="this.setCustomValidity('Vui lòng nhập nơi ở hiện tại')", oninput="this.setCustomValidity('')")
                    input#avatar(type="file", name="avatar", placeholder="avatar", required, oninvalid="this.setCustomValidity('Vui lòng chọn avatar')", oninput="this.setCustomValidity('')")
                    br
                    input(type="submit", value="Đăng kí")
                    a.pb-3.d-block(href="/auth/login") Đăng nhập