
extends ../layout/default
block script  
    script(src='/public/script/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', type='text/javascript')
    link(rel='stylesheet', href='/public/css/auth-singup.css')
block content
    .container.pt-5
        .wrapper.fadeInDown
            #formContent
                form(action="/auth/logupPOST", method="post")
                    h2.active Đăng kí
                    if errors
                        each error in errors
                            p=error
                    br
                    input#user(type="text",name="user", placeholder="tài khoản", value=values ? values.user : "")
                    input#password(type="password",name="password", placeholder="mật khẩu", value=values ? values.password : "")
                    input#name(type="text",name="name", placeholder="họ Tên", value=values ? values.name : "")
                    input#address(type="text",name="address", placeholder="quê quán", value=values ? values.address : "")
                    input#living(type="text",name="living", placeholder="sống tại", value=values ? values.living : "")
                    br
                    input(type="submit", value="Đăng kí")
                    a.pb-3.d-block(href="/auth/login") Đăng nhập