extends ../layout/default

block script  
  script(src='/public/script/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', type='text/javascript')
  script(src='https://rawgit.com/edull24/ScrollWatch/v2.0.1/dist/ScrollWatch-2.0.1.min.js')
  link(rel='stylesheet', href='/public/css/post-index.css')
  link(rel='stylesheet', href='/public/open-iconic/font/css/open-iconic-bootstrap.css')
block content
  img(src=""+ data.banner, alt='').banner
  .post-title.container-lg
    .row
      .col-lg-3.col-sm-3.col-xs-4.col-3.col-left.text-center
        .info-post.center.clearfix
          .avatar
            a(href="/user/" + data.user._id)
              img.img-thumbnail.rounded-circle(src="" + data.user.avatar, alt="")
          .name.clear-left
            h5.user-name=data.user.name
          .follow.clear-left
            if (checkTrueUser)
              button.btn.btn-info.edit
                  span.fa.fa-pencil-square-o
                  span.follow-title &nbsp; Edit
            else
              if (checkfollow)
                button.btn.btn-danger.button-unfollow(class="follow-count-"+data.user._id, data-2=""+data.user._id)
                  span.fa.fa-rss
                  span.follow-title &nbsp; Unfollow
                  span.follow-count= "(" + data.user.following.length + ")"
              else
                button.btn.btn-primary.button-follow(class="follow-count-"+data.user._id, data-2=""+data.user._id)
                  span.fa.fa-rss
                  span.follow-title &nbsp; Follow
                  span.follow-count(data-1=data.user.following.length)= "(" + data.user.following.length + ")"
      .col-lg-9.col-sm-9.col-xs-8.col-9.col-right
        .title-post.align-middle
          h4.text-white(style="text-shadow: 1px 1px #ff0000;")= data.title
    .row.content
      .col-sm-3.col-left
      .col-sm-9.col-right.border.rounded(style="padding-top:25px;padding-bottom: 25px").bg-light
        .clearfix
          .date-post.float-right.pr-3
            h5
              span.fa.fa-calendar.pr-1
              span= data.datepost.getDate() + "/" + (data.datepost.getMonth()+1).valueOf() + "/" + data.datepost.getFullYear()
          .comment.float-right.pr-3
            h5
              span.fa.fa-comments.pr-1
              span= comment.length
          .view.float-right.pr-3
            h5
              span.fa.fa-eye.pr-1
              span= data.view
        .description.bg-light.p-1(style="border-left: 6px solid red;")
          h4.pl-2= data.description
        .container.content-post.pt-3.font-weight-light(style="font-size: 17px")
            div!=data.content
        br.pt-9
        h3(style="border-top: 3px solid;") Comment
        .container.reply-comment#comment
          .send-comment
            if userLogin
              .avatar.clearfix
                a(href="/user/" + userLogin.name).float-left
                  img.rounded-circle(style='width: 40px; height: 40px;',src="/public/img/avatar/67265914_2394160794176107_7042751431970914304_o.jpg", alt="")
                  span &nbsp;
                .text-input
                  input.input.shadow-sm(type="text", name="abc", data-1=""+data._id)#comment-text
            else
              a#login(href="/auth/login").btn.btn-primary Đăng nhập
          br
          .user.clearfix#comment-list
          each cmt,index in comment
            #each-comment.border-bottom.border-primary.p-2.m-1
              .avatar.float-left
                p.d-none.idC= cmt._id
                a(href="/user/" + cmt.user._id)
                  img.rounded-circle(style='width: 40px; height: 40px;',src="" + cmt.user.avatar, alt="")
                span &nbsp;
              .infor.clearfix
                a.float-left.font-weight-bold(href="/user/" + cmt.user._id).text-danger.text-decoration-none.pr-1
                  p= cmt.user.name
                p= "" + cmt.datecmt.getHours()+":"+ cmt.datecmt.getMinutes() + " " + cmt.datecmt.getDate() + "/" + (cmt.datecmt.getMonth()+1).valueOf() + "/" + cmt.datecmt.getFullYear()
                p#comment-content= "" + cmt.content
                if (checkTrue[index])
                  // Button trigger modal
                  button.btn.btn-primary.mr-1(type='button', data-toggle='modal', data-target='#m'+cmt._id)
                    | Sửa
                  button.btn.btn-primary.mr-1(type='button', data-toggle='modal', data-target='#d'+cmt._id)
                    | Xóa
                  // , data-toggle='modal', data-target='#m'+cmt._id)
                  // Modal Edit
                  .modal.fade(id='m'+cmt._id,tabindex='-1', role='dialog', aria-labelledby='m'+cmt._id+'Title', aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                      .modal-content
                        form(action="/ajax/edit-comment/" + cmt._id , method="post")
                          .modal-header
                            h5.modal-title(id='m'+cmt._id+'Title') Sửa bình luận
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                              span(aria-hidden='true') &times;
                          .modal-body
                            input(type="text",name='noidung', id=''+cmt._id,value=""+cmt.content)
                            input(type="hidden", name="link",value ="")
                          .modal-footer
                            input.btn.btn-primary.d-inline-block.w-25(type="submit", value="Lưu thay đổi")
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Đóng
                  // Modal Delete
                  .modal.fade(id='d'+cmt._id,tabindex='-1', role='dialog', aria-labelledby='d'+cmt._id+'Title', aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                      .modal-content
                        form(action="/ajax/delete-comment/" + cmt._id , method="post")
                          .modal-header
                            h5.modal-title(id='d'+cmt._id+'Title') Xóa bình luận
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                              span(aria-hidden='true') &times;
                          .modal-body
                            | Bạn có muốn xóa bình luận này không
                            input(type="hidden", name="link",value ="")
                          .modal-footer
                            input.btn.btn-primary.d-inline-block.w-25(type="submit", value="Có")
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Không
                p=""
                p.clearfix
                  if (checklike[index])
                    i.fa.fa-thumbs-up.btn-danger(aria-hidden='true', style="width: 10%", id=cmt._id, data-2=""+data._id).text-center.p-1.rounded.block.float-left.unlike
                  else
                    i.fa.fa-thumbs-up.btn-primary(aria-hidden='true', style="width: 10%", id=cmt._id, data-2=""+data._id).text-center.p-1.rounded.block.float-left.like                  
                  if (cmt.like.length > 0)
                    p(class="like-count-"+cmt._id,data-1=cmt.like.length)= cmt.like.length + " người thích bài viết này"
                  else
                    p(class="like-count-"+cmt._id,data-1=cmt.like.length)



  script.
    $(document).on('click','.like', function(){
      var idC = $(this).attr('id');
      var countID = ".like-count-"+idC;
      var idPost = $(this).attr('data-2');
      $.ajax({
        url: "/ajax/like/" + idC,
        method: "post",
        context: this,
        data: {
          idpost: idPost
        },
        success: function(data){
          if(data.success){
            $(this).removeClass("btn-primary");
            $(this).addClass("btn-danger");
            $(this).removeClass("like");
            $(this).addClass("unlike");
            var count = (parseInt(($(countID).attr('data-1')).valueOf())+1).valueOf()
            $(countID).html(count + " người thích bài viết này");
            $(countID).attr('data-1', count);
          } else {
            window.location.href = "/auth/login";
          }
        }
      }); // $.ajax
    }); // $(document) LIKE
    $(document).on('click','.unlike', function(){
      var idC = $(this).attr('id');
      var countID = ".like-count-"+idC;
      var idPost = $(this).attr('data-2');
      $.ajax({
        url: "/ajax/unlike/" + idC,
        method: "post",
        context: this,
        data: {
          idpost: idPost
        },
        success: function(data){
          if(data.success){
            $(this).removeClass("btn-danger");
            $(this).addClass("btn-primary");
            $(this).removeClass("unlike");
            $(this).addClass("like");
            var count = (parseInt(($(countID).attr('data-1')).valueOf())-1).valueOf()
            $(countID).html(count + " người thích bài viết này");
            $(countID).attr('data-1', count);
          } else {
            window.location.href = "/auth/login";
          }
        }
      })
    }); // $(document) UNLIKE
    $('#comment-text').bind("enterKey",function(e){
      var idPost = $('#comment-text').attr('data-1');
      var value = $('#comment-text').val();
      $.ajax({
        url: "/ajax/comment/" + idPost,
        method: "post",
        context: this,
        data: {
          idpost: idPost,
          value: value
        },
        success: function(data){
          if(data.success){
            $(this).val("");
            location.reload();
          } else {
            alert(data);
          }
        }
      })
    });
    $('#comment-text').keyup(function(e){
      if(e.keyCode == 13)
      {
        if ($(this).val()==""){
          alert("Vui lòng nhập nội dung");
        }
        else{
          $(this).trigger("enterKey");
        }
      }
    });
    $('#login').on('click', function(){

      localStorage.setItem( "URL_P",window.location.href);
    });
    $(document).on('click','#edit-comment', function(){
      $("#comment-content").attr('hidden') = true;
    });
    $( document ).ready(function() {
      var link = window.location.href.split("#");
      $('input[type="hidden"').val(link[0]+"#comment");    
    });
    $(document).on('click','.button-follow', function(){
      var idUserPost = $(this).attr('data-2');
      var countID = ".follow-count-"+idUserPost;
      console.log("a");
      $.ajax({
        url: "/ajax/follow/" + idUserPost,
        method: "post",
        context: this,
        data: {
          idUserPost: idUserPost
        },
        success: function(data){
          console.log("a");
          if(data.success){
              $(this).removeClass("btn-primary");
              $(this).addClass("btn-danger");
              $(this).removeClass("button-follow");
              $(this).addClass("button-unfollow");
              var count = (parseInt(($(countID).attr('data-1')).valueOf())-1).valueOf()
              $(countID).attr('data-1', count);
          } else {
              window.location.href = "/auth/login";
          }
        }
      })
    });
    $(document).on('click','.button-unfollow', function(){
      var idUserPost = $(this).attr('data-2');
      var countID = ".follow-count-"+idUserPost;
      $.ajax({
        url: "/ajax/unfollow/" + idUserPost,
        method: "post",
        context: this,
        data: {
          idUserPost: idUserPost
        },
        success: function(data){
          console.log("a");
          if(data.success){
              $(this).removeClass("btn-danger");
              $(this).addClass("btn-primary");
              $(this).removeClass("button-unfollow");
              $(this).addClass("button-follow");
              var count = (parseInt(($(countID).attr('data-1')).valueOf())-1).valueOf()
              $(countID).attr('data-1', count);
          } else {
              window.location.href = "/auth/login";
          }
        }
      })
    });