extends ../layout/default
block script
    link(rel='stylesheet', href='/public/css/info-user.css')
    link(rel='stylesheet', href='/public/css/info-content-user.css')
    link(rel='stylesheet', href='/public/open-iconic/font/css/open-iconic-bootstrap.css')
block content 
    .container
        .header.container-lg(style="padding: 0")
            .timeline
                .container-img
                    .cover
                        img(src="https://scontent.fsgn5-2.fna.fbcdn.net/v/t1.0-9/48382024_2248568198735368_1003418688080052224_o.jpg?_nc_cat=105&_nc_sid=dd9801&_nc_eui2=AeG_DrmXmbiMma0z5QRp4aOjebJDW02cE_srAxqTqN0qWeeaE35nWVx-bIie0A1zdBX-BJSz1dpeHCuvd_Gjm630HrIHTDyGZfYTNeByUKW4hg&_nc_ohc=mg9LKmSuUf4AX9QQ0Th&_nc_ht=scontent.fsgn5-2.fna&oh=9937c2347767d9b5a0e1116f91ab3291&oe=5EF8EAE0", style="cursor: s-resize;", alt="")
        .container-lg
            .row
                .col-lg-3.col-sm-4.col-left.pr-15.pl-15.mr-0.ml-0.pt-5.border-left.border-right.border-primary
                    .sticky-top
                        .info.border-bottom.border-primary.text-center
                            .clearfix(style="padding: 5px;")
                            img.img-thumbnail.rounded-circle(src=""+ user.avatar, alt="")
                            p.user-name= user.name
                            button.btn.btn-primary
                                span.fa.fa-rss
                                span &nbsp; Follow
                            .clearfix(style="padding: 5px;")
                        .detail-info.border-bottom.border-primary
                            .clearfix(style="padding: 5px;")
                            .home
                                span.fa.fa-map-marker
                                span= " Sống tại " + user.living
                            .address
                                span.fa.fa-home
                                span= " Đến từ " + user.address
                            .followed
                                span.fa.fa-rss
                                span= " Có " + user.following.length + " người theo dõi"
                            .johndate
                                span.fa.fa-calendar
                                span="Tham gia từ ngày " + user.joindate.getDate() + "/" + (user.joindate.getMonth()+1).valueOf() + "/" + user.joindate.getFullYear()
                            .clearfix(style="padding: 5px;")
                        .follow-list
                            .clearfix(style="padding: 5px;")
                            h6= user.following.length + " người theo dõi" 
                            .container
                                .row.row-cols-3
                                    each follow in user.following
                                        .col
                                            a(href="/user/"+follow._id)
                                                img.img-thumbnail(src="" + follow.avatar, alt="")
                        br
                            

                .col-lg-9.col-sm-8.col-right.content
                    .post.nav.nav.bg-light
                        a.nav-link.active(href='#') Trang Chủ
                        a.nav-link(href='#') Hoạt Động
                        a.nav-link(href='#') Theo Dõi
                        a.nav-link.disabled(href='#') Đang Theo Dõi
                    each post in posts
                        .post.border.rounded
                            .info-content-user.bg-white.p-1
                                .information-blogger.clearfix
                                    .avatar
                                        a(href="/user/" + user.id)
                                            img.rounded-circle(style='width: 35px; height: 35px;',src="/public/img/avatar/67265914_2394160794176107_7042751431970914304_o.jpg", alt="")
                                    .infor
                                        a(href="/user/" + user.id).text-danger.text-decoration-none
                                            = user.name
                                            span &nbsp;
                                            span(style='color: #1d9c73;font-size: 11px;padding-left: 1px;border: 1px solid #1d9c73;padding: 3px 10px;border-radius: 5px;')
                                                i.fa.fa-rss
                                                =" " + user.following.length + " người theo dõi"
                                    .pull-right
                                        a(href='#', style='color: #337ab7;font-size: 14px;text-align: center;font-weight: normal;line-height: 40px;font-style: italic;') #blog
                                    .time-post.time-p
                                        span= post.datepost.getDate() + "/" + post.datepost.getMonth() + "/" + post.datepost.getFullYear()
                                div(style='position: relative;')
                                    .cover-blog
                                        a(href="#").text-decoration-none
                                            img(src='https://media2.gody.vn/public/mytravelmap/images/2018/9/1/ngocanh.ngth3776/116643a8a4c2ddd29b1ffddcedbcfbd38b359424.jpg', alt='')
                                .title
                                    h2
                                        a.text-decoration-none(href="/post/"+post._id)= post.title
                                .tag-list
                                    each tag in post.tags
                                        .tag-item
                                            a(href="#").tags.text-decoration-none
                                                i.fa.fa-tags.pr-1
                                                =tag
                                .details
                                    .col-left.viewcount
                                        span
                                            i.fa.fa-eye.pr-1
                                            =post.view
                                        span
                                            i.fa.fa-comments.pr-1
                                            |&nbsp;23
                                        span
                                            i.fa.fa-share
                                            |&nbsp;23
                                .description
                                    p= post.description

