extends ../layout/default
block script
    script(src='/public/script/jquery.min.js')
    link(rel='stylesheet', href='/public/css/info-user.css')
    link(rel='stylesheet', href='/public/css/info-content-user.css')
    link(rel='stylesheet', href='/public/open-iconic/font/css/open-iconic-bootstrap.css')
block content 
    .container
        .header.container-lg(style="padding: 0")
            .timeline
                .container-img
                    .cover
                        img(src="https://scontent.fsgn5-2.fna.fbcdn.net/v/t1.0-9/48382024_2248568198735368_1003418688080052224_o.jpg?_nc_cat=105&_nc_sid=dd9801&_nc_eui2=AeG_DrmXmbiMma0z5QRp4aOjebJDW02cE_srAxqTqN0qWeeaE35nWVx-bIie0A1zdBX-BJSz1dpeHCuvd_Gjm630HrIHTDyGZfYTNeByUKW4hg&_nc_ohc=mg9LKmSuUf4AX9QQ0Th&_nc_ht=scontent.fsgn5-2.fna&oh=9937c2347767d9b5a0e1116f91ab3291&oe=5EF8EAE0", style="cursor: s-resize;", alt="")
        .container-lg
            .row
                .col-lg-3.col-sm-4.col-left.pr-15.pl-15.mr-0.ml-0.pt-5.border-left.border-right.border-primary
                    .sticky-top(style="top:55px")
                        .info.border-bottom.border-primary.text-center
                            .clearfix(style="padding: 5px;")
                            img.img-thumbnail.rounded-circle#avatarP(src=""+ user.avatar, alt="")
                            p.user-name= user.name
                            if (checkTrueUser)
                                a(href="/user/edit/"+userLogin._id)
                                    button.btn.btn-info.edit
                                        span.fa.fa-pencil-square-o
                                        span.follow-title &nbsp; Edit
                            else
                                if (checkfollow)
                                    button.btn.btn-danger.button-unfollow(class="follow-count-"+user._id, data-2=""+user._id)
                                        span.fa.fa-rss
                                        span.follow-title &nbsp; Unfollow
                                        span.follow-count(data-1=user.following.length)= "(" + user.following.length + ")"
                                else
                                    button.btn.btn-primary.button-follow(class="follow-count-"+user._id, data-2=""+user._id)
                                        span.fa.fa-rss
                                        span.follow-title &nbsp; Follow
                                        span.follow-count(data-1=user.following.length)= "(" + user.following.length + ")"
                            .clearfix(style="padding: 5px;")
                        .detail-info.border-bottom.border-primary
                            .clearfix(style="padding: 5px;")
                            .home
                                span.fa.fa-map-marker
                                span= " Sống tại " + user.living
                            .address
                                span.fa.fa-home
                                span= " Đến từ " + user.address
                            .followed
                                span.fa.fa-rss
                                span= " Có " + user.following.length + " người theo dõi"
                            .johndate
                                span.fa.fa-calendar
                                span="Tham gia từ ngày " + user.joindate.getDate() + "/" + (user.joindate.getMonth()+1).valueOf() + "/" + user.joindate.getFullYear()
                            .clearfix(style="padding: 5px;")
                        .follow-list
                            .clearfix(style="padding: 5px;")
                            h6= user.following.length + " người theo dõi" 
                            .container
                                .row.row-cols-3
                                    each follow in user.following
                                        .col(style="padding-bottom:4px;")
                                            a(href="/user/"+follow._id)
                                                img.img-thumbnail.rounded-circle(src="" + follow.avatar, alt="", style="min-width: 35px; min-height:35px")
                        br
                            

                .col-lg-9.col-sm-8.col-right.content
                    .post.nav.nav.bg-light
                        a.nav-link.active(href='#') Bài viết
                    each post,index in posts
                        .post.border.rounded
                            .info-content-user.bg-white.p-1
                                .information-blogger.clearfix
                                    .avatar
                                        a(href="/user/" + user.id)
                                            img.rounded-circle(style='width: 35px; height: 35px;',src=""+user.avatar, alt="")
                                    .infor
                                        a(href="/user/" + user.id).text-danger.text-decoration-none
                                            = user.name
                                            span &nbsp;
                                            span(style='color: #1d9c73;font-size: 11px;padding-left: 1px;border: 1px solid #1d9c73;padding: 3px 10px;border-radius: 5px;')
                                                i.fa.fa-rss
                                                =" " + user.following.length + " người theo dõi"
                                    .pull-right
                                        a(href='#', style='color: #337ab7;font-size: 14px;text-align: center;font-weight: normal;line-height: 40px;font-style: italic;') #blog
                                    .time-post.time-p
                                        span= post.datepost.getDate() + "/" + post.datepost.getMonth() + "/" + post.datepost.getFullYear()
                                div(style='position: relative;')
                                    .cover-blog
                                        a(href="#").text-decoration-none
                                            img(src=''+ post.banner, alt='')
                                .title
                                    h2
                                        a.text-decoration-none(href="/post/"+post._id)= post.title
                                .tag-list
                                    each tag in post.tags
                                        .tag-item
                                            a(href="#").tags.text-decoration-none
                                                i.fa.fa-tags.pr-1
                                                =tag
                                .details
                                    .col-left.viewcount
                                        span
                                            i.fa.fa-eye.pr-1
                                            =post.view
                                        span
                                            i.fa.fa-comments.pr-1
                                            =countcmt[index]
                                        span
                                            i.fa.fa-share
                                            |&nbsp;23
                                .description
                                    p= post.description
    script.
        $(document).on('click','.button-follow', function(){
        var idUserPost = $(this).attr('data-2');
        $.ajax({
            url: "/ajax/follow/" + idUserPost,
            method: "post",
            context: this,
            data: {
            idUserPost: idUserPost
            },
            success: function(data){
            console.log("a");
            if(data.success){
                $(this).removeClass("btn-primary");
                $(this).addClass("btn-danger");
                $(this).removeClass("button-follow");
                $(this).addClass("button-unfollow");
                $('.follow-title').html("&nbsp; Unfollow");
                var count = (parseInt($('.follow-count').attr('data-1')).valueOf()+1).valueOf();
                $('.follow-count').attr('data-1',count);
                $('.follow-count').html("("+count+")");
            } else {
                window.location.href = "/auth/login";
            }
            }
        })
        });
        $(document).on('click','.button-unfollow', function(){
        var idUserPost = $(this).attr('data-2');
        var countID = ".follow-count-"+idUserPost;
        $.ajax({
            url: "/ajax/unfollow/" + idUserPost,
            method: "post",
            context: this,
            data: {
            idUserPost: idUserPost
            },
            success: function(data){
            console.log("a");
            if(data.success){
                $(this).removeClass("btn-danger");
                $(this).addClass("btn-primary");
                $(this).removeClass("button-unfollow");
                $(this).addClass("button-follow");
                $('.follow-title').html("&nbsp; Follow");
                var count = (parseInt($('.follow-count').attr('data-1')).valueOf()-1).valueOf();
                $('.follow-count').attr('data-1',count);
                $('.follow-count').html("("+count+")");
            } else {
                window.location.href = "/auth/login";
            }
            }
        })
        });

